Body {
    background-color: rgb(53, 48, 78);
}

.Jumbotron {
    background-color: white;
    text-align: center;
    font-family:'Oswald', sans-serif;
}

h1 {
color: gray;    
}

.Your-Answer {
background-color: white

}

h2 {
 
}